version: "3.8"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: DressMe
    volumes:
      - ./MongoDB/init:/docker-entrypoint-initdb.d

  grpc:
    build:
      context: .
      dockerfile: Dockerfile.grpc
    container_name: grpc-server
    restart: always
    depends_on:
      - mongo
    environment:
      MONGO_URI: mongodb://mongo:27017/
    ports:
      - "50051:50051"
